* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#bar-chart {
	width: 1000px;
	height: 600px;
	background-color: aqua;
}
